* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: gainsboro;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  padding: 3rem;
  font-family: monospace;
  text-decoration: underline;
  font-size: 3rem;
}

.container {
  margin-left: 2rem;
}

.sectionName {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.blogs {
  padding: 1rem;
  border: solid black 2px;
  border-radius: 6px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  width: fit-content;
}